<div class="grid grid-cols-2 lg:grid-cols-4 justify-between gap-6">
    <a class="get-involved-item ngx-card-border" href="https://github.com/nginx" target="_blank">
        <div class="h-16 w-16 mx-auto">
            {{ partial "svg/github-logo.svg" . }}
        </div>
        <span class="font-semibold text-lg text-center">Visit our GitHub</span>
    </a>
    <a class="get-involved-item ngx-card-border" href="https://www.youtube.com/nginxinc" target="_blank">
        <div class="h-16 w-16 mx-auto">
            {{ partial "svg/youtube-icon.svg" . }}
        </div>
        <span class="font-semibold text-lg text-center">Watch on YouTube</span>
    </a>
    <a class="get-involved-item ngx-card-border" href="https://twitter.com/nginxorg" target="_blank">
        <div class="h-16 w-16 mx-auto">
            {{ partial "svg/twitter-logo.svg" . }}
        </div>
        <span class="font-semibold text-lg text-center">Follow us on X</span>
    </a>
    <a class="get-involved-item ngx-card-border" href="https://community.nginx.org" target="_blank">
        <div class="h-16 w-16 mx-auto">
            {{ partial "svg/discourse-icon.svg" . }}
        </div>
        <span class="font-semibold text-lg text-center">Join Us On Discourse</span>
    </a>
</div>
