{{ define "main" }}

{{ partial "hero.html" . }}
{{ $projects := where site.RegularPages "Type" "project" }}

<div class="bg-offwhite content-padding-y w-full flex flex-col gap-12">
    <section class="px-5 md:px-0 flex-col flex gap-8 container mx-auto">
        <h2 class="ngx-section-header">FEATURED PROJECTS</h2>
        <div class="flex flex-wrap md:flex-nowrap gap-8">
            {{ range $projects }}
                {{ partial "projects/featured-card.html" . }}
            {{ end }}
        </div>
    </section>
    <section class="container px-5 md:px-0 flex-col flex gap-8 mx-auto">
        <h2 class="ngx-section-header">All Projects</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <div class="flex flex-col gap-1">
                <h4 class="uppercase">Filter & Search Projects</h4>
                {{ partial "projects/projects-search.html" . }}
            </div>
            <div class="md:col-span-2 grid md:grid-cols-2 gap-8">
                {{ range seq 9 }}
                    {{ partial "projects/minimal-card.html" . }}
                {{ end }}
            </div>
        </div>
    </section>
</div>
{{end}}