{{ $banner := .Site.GetPage "banner" }}

{{ if and ($banner) ($banner.Params.display) }}

<!-- handle for three variants: "info", "warn", "critical"-->
{{ $bgColorMap := dict "info" "bg-ngx-green" "warn" "bg-yellow-600" "critical" "bg-red-700" }}

{{ $bgClass := index $bgColorMap ($banner.Params.variant) }}

<!-- if nonsense variant supplied, default to ngx-green as bg -->
{{ if not $bgClass }}
    {{ $bgClass = "bg-ngx-green"}}
{{ end }}


<div id="banner-container" class="banner-container relative px-8 py-2 {{ $bgClass }}">
    <p class="banner-title">
        {{ $banner.Title }}
    </p>
<!--   dot character -->
    <span>&#9702;</span>
    {{ $banner.Content }}
    <button id="close-banner-btn" aria-label="close-banner" class="absolute right-4 text-white w-4 hover:opacity-75 cursor-pointer">
        {{ partial "svg/close.svg" . }}
    </button>
</div>

{{ end }}

<script defer language="javascript">
  document.addEventListener("DOMContentLoaded", () => {
    const banner = document.querySelector("#banner-container");
    const closeBtn = document.querySelector("#close-banner-btn");


    closeBtn.addEventListener("click", () => {
      banner.classList.remove("px-8", "py-2");
      banner.classList.add("h-0");
      closeBtn.classList.add("hidden");
    });
  })
</script>
