{{ partial "banner.html" . }}

<!-- If hero title param set, override page title for display -->
{{ $pageTitle := default .Title .Params.hero_title }}

{{ $heroDesc := default .Description .Params.hero_desc }}

<section class="w-full hero-gradient flex">
    <!--  Content Width Target -->
    <div class="container flex m-auto flex-col md:flex-row">
        <div class="w-full flex justify-center md:w-1/2 text-white flex-col gap-4 ">
            <div class="flex flex-col text-white gap-4 py-8 px-5 lg:p-0 ">
                <h4 class="text-2xl uppercase text-white font-weight-bolder">{{ $pageTitle }}</h4>
                {{ if .IsHome }}
                    <div class="flex gap-x-2 items-center">
                        {{ with resources.Get "images/icon-logo.png" }}
                            <img src="{{ .RelPermalink }}" alt="icon-logo" class="w-[50px] h-[50px]"/>
                        {{ end }}
                        <h2 class="text-4xl">We power the web</h2>
                    </div>
                {{ end }}
                <p class="text-lg text-wrap">
                    {{ $heroDesc | markdownify }}
                </p>
                {{ if .IsHome }}
                    <a class="uppercase ngx-button text-center px-4 py-2 rounded-sm" href="/projects">Discover Projects</a>
                {{ end }}
            </div>
        </div>
<!--   Applies styling for a "minimal" hero for all non-home pages     -->
        {{ if .IsHome }}
            <div class="hero-image-container lg:p-32">
                {{ with resources.Get "images/hero-graphic.png" }}
                    <img src="{{ .RelPermalink }}" class="" alt="hero-graphic"/>
                {{ end }}
            </div>
        {{ else }}
            <div class="hero-image-container lg:py-16 lg:px-32">
                {{ with resources.Get "images/hero-graphic.png" }}
                    <img src="{{ .RelPermalink }}" class="" alt="hero-graphic"/>
                {{ end }}
            </div>
        {{ end }}

    </div>
</section>