{{ define "main" }}

{{ partial "hero.html" . }}

{{ $projects := where site.RegularPages "Type" "project" }}

<div class="bg-offwhite content-padding-y w-full">
    <div class="px-5 md:px-0 flex-col flex gap-12 container mx-auto">
        <section class="flex flex-col gap-8">
            <h2 class="ngx-section-header">FEATURED PROJECTS</h2>
            <div class="flex flex-col gap-8">
                {{ partial "projects/card-wide.html" (index $projects 0) }}
                <div class="w-full flex flex-wrap md:flex-nowrap justify-between gap-8 ">
                    {{ range after 1 $projects }}
                        {{ partial "projects/featured-card.html" . }}
                    {{ end }}
                </div>
                <div class="flex justify-end">
                    <a href="/projects" class="txt-ngx-green text-lg font-bold w-fit flex gap-1 items-center link-hover">
                        See all projects
                        {{ partial "svg/arrow-right-solid.svg" (dict "size" 18 )}}
                    </a>
                </div>
            </div>
        </section>
        <section >
            <h2 class="ngx-section-header">NEWS</h2>
        </section>
        <section class="flex flex-col gap-8">
            <h2 class="ngx-section-header">Featured Media</h2>
            <div class="w-full flex gap-8 flex-wrap md:flex-nowrap justify-between">
                {{ $featuredMediaItems := where site.RegularPages "Type" "media-item" }}
                {{/* TODO: Replace with filtered search against `featured<bool>` param */}}
                {{ range seq 3 }}
                    {{ with index $featuredMediaItems 0 }}
                        {{ partial "media/card.html" . }}
                    {{ end }}
                {{ end }}
            </div>
        </section>
    </div>
</div>

{{ end }}
