{{ define "main" }}

{{ partial "hero.html" . }}

{{ $projects := where site.RegularPages "Type" "project" }}

<div class="bg-offwhite content-padding-y w-full">
    <div class="px-5 md:px-0 flex-col flex gap-12 container mx-auto">
        <section class="flex flex-col gap-8" id="featured-projects">
            <h2 class="ngx-section-header">FEATURED PROJECTS</h2>
            <div class="flex flex-col gap-8">
                {{ with index $projects 0 }}
<!--                Wide Card Hidden on Mobile Screens-->
                    <div class="hidden w-full bg-white ngx-card-border lg:flex">
                        <div class="w-56 h-56 shrink-0 proj-image-bg flex items-center justify-center">
                            {{ with .Resources.Get (.Param "image")  }}
                                <img src="{{ .RelPermalink }}" alt="{{ .Title }}" class="w-36 h-36"/>
                            {{ end }}
                        </div>
                        <div class="p-4 gap-2 flex-col flex">
                            <h3 class="font-semibold text-2xl">{{ .Title }}</h3>
                            <p class="text-gray-600 grow text-wrap text-sm">
                                {{ .Plain | htmlUnescape }}
                            </p>
                            <div class="flex w-full gap-1">
                                {{ if .Params.github_url }}
                                    {{ $iconLinkArgs := (dict "TargetURL" .Params.github_url "TargetIconPath" "svg/github-logo.svg") }}
                                    {{ partial "icon-link.html" $iconLinkArgs }}
                                {{ end }}
                                {{ if .Params.external_url }}
                                    {{ $iconLinkArgs := (dict "TargetURL" .Params.external_url "TargetIconPath" "svg/external-link.svg") }}
                                    {{ partial "icon-link.html" $iconLinkArgs }}
                                {{ end }}
                            </div>
                        </div>
                    </div>
<!--                Handles mobile screens w/ regular card    -->
                    <div class="w-full lg:hidden">
                        {{ partial "projects/featured-card.html" . }}
                    </div>
                {{ end }}
                <div class="w-full flex flex-wrap md:flex-nowrap justify-between gap-8 ">
                    {{ range after 1 $projects }}
                        {{ partial "projects/featured-card.html" . }}
                    {{ end }}
                </div>
                <div class="flex justify-end">
                    <a href="/projects" class="txt-ngx-green text-lg font-bold w-fit flex gap-1 items-center link-hover">
                        See all projects
                        {{ partial "svg/arrow-right-solid.svg" (dict "size" 18 )}}
                    </a>
                </div>
            </div>
        </section>

        {{ partial "home/featured-news.html" . }}

        <section class="flex flex-col gap-8" id="featured-media">
            <h2 class="ngx-section-header">Featured Media</h2>
            <div class="w-full flex gap-8 flex-wrap md:flex-nowrap justify-between">
                {{ $featuredMediaItems := where site.RegularPages "Type" "media-item" }}
                {{/* TODO: Replace with filtered search against `featured<bool>` param */}}
                {{ range seq 3 }}
                    {{ with index $featuredMediaItems 0 }}
                        {{ partial "media/card.html" . }}
                    {{ end }}
                {{ end }}
            </div>
        </section>
    </div>
</div>

{{ end }}
