name: Notifications for Tests
on:
  workflow_run:
    branches: [main]
    workflows:
      - "QE LinkChecker"
      - "UI validation on prod"
    types: [completed]

permissions:
  contents: read

jobs:
  on-failure:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'failure' }}
    permissions:
      contents: read
      actions: read # for 8398a7/action-slack
      checks: read
    steps:
      - name: Retrieve Job Data
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        continue-on-error: true
        id: data
        with:
          script: |
            const message = context.payload.workflow_run.head_commit.message
            message_sanitized = message.split('\n')[0]

            const check_data = (await github.rest.checks.listForRef({
              owner: context.payload.repository.owner.login,
              repo: context.payload.repository.name,
              ref: context.payload.workflow_run.head_commit.id,
            })).data.check_runs.filter(check_run => check_run.conclusion === 'failure')[0]

            return {
              job_name: check_data.name,
              job_url: check_data.html_url,
              commit_message: message_sanitized,
            }

      - name: Send notification
        uses: 8398a7/action-slack@77eaa4f1c608a7d68b38af4e3f739dcd8cba273e # v3.19.0
        with:
          status: custom
          custom_payload: |
            {
                username: 'Github',
                mention: 'channel',
                attachments: [{
                  title: '[${{ github.event.repository.full_name }}] ${{ github.event.workflow.name }} pipeline has failed (${{ github.event.workflow_run.event }})',
                  color: 'danger',
                  fields: [{
                    title: 'Commit',
                    value: `<https://github.com/${{ github.repository }}/commit/${{ github.event.workflow_run.head_commit.id }}|${{ fromJSON(steps.data.outputs.result).commit_message }}>`,
                    short: false
                  },
                  {
                    title: 'Failed Job',
                    value: `<${{ fromJSON(steps.data.outputs.result).job_url }}|${{ fromJSON(steps.data.outputs.result).job_name }}>`,
                    short: true
                  },
                  {
                    title: 'Author',
                    value: `${{ github.event.workflow_run.head_commit.author.name }}`,
                    short: true
                  },
                  {
                    title: 'Pipeline URL',
                    value: `<https://github.com/${{ github.repository }}/actions/runs/${{ github.event.workflow_run.id }}|${{ github.event.workflow_run.id }}>`,
                    short: true
                  }]
                }]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL_DOCS_INCIDENT }}